<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Choose best</h1>
		<div class="content">
			<div class="row-fluid">
				<div class="span6 well">
					<img src="<%= images[0].url %>" />
				</div>
				<div class="span6 well">
					<img src="<%= images[1].url %>" />
				</div>
			</div>
		</div>
	</body>
</html>