body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.imageContainer img {
	width: 200px;
}

#album img {
	width: 300px;
}

#votes img {
	width: 300px;
}

#votes .winner {
	border: solid 1px blue;
}

.votesCount {
	font-size: 72px;
}